.font {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: 3rem;
  padding-top: 1rem;
  max-height: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: auto;
  padding: 2rem 0 2rem 0;
}

.to_from_inputs {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.search_button {
  width: max-content;
  border: none;
  outline: none;
  padding: 1rem 2rem 1rem 2rem;
  margin: auto;
  cursor: pointer;
  background-color: #fa303d;
  color: white;
  margin-top: 2rem;
  font-weight: 400;
  border-radius: 15px;
}

.bus_details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.bus_card {
  width: 100%;
  border: solid thin #ccc;
  border-radius: 2px;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.bus_wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

.bus_info {
  display: flex;
  flex-direction: column;
}

.bus_name {
  font-size: 18px;
  font-weight: 300;
}

.bus_smallText {
  font-size: 14px;
  margin-top: 1rem;
}

.bookButton {
  width: max-content;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin: auto;
  cursor: pointer;
  background-color: #fa303d;
  color: white;
  font-weight: 400;
}

.tab {
  margin: auto;
  width: max-content;
  padding: 1rem 1rem 1rem 1rem;
}

.tab_left {
  color: white;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 15px 0 0 15px;
  background-color: #fa303d;
  font-weight: 400;
  cursor: pointer;
}

.tab_left:hover {
  background-color: #d81623;
}

.tab_right:hover {
  background-color: #d81623;
}

.tab_right {
  color: white;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0 15px 15px 0;
  background-color: #fa303d;
  font-weight: 400;
  cursor: pointer;
  border-left: solid thin #f55b65;
}

.chips {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.chip {
  padding: 0.5rem;
  background-color: #e9e1e1;
  border-radius: 10px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.inputTextfield {
  height: 100%;
  width: 100%;
  outline: none;
  border: solid thin white;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
}

.inputTextfield:hover {
  border: solid thin rgb(60, 138, 8);
}
