.font {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  min-height: 3rem;
  padding-top: 1rem;
  max-height: 3rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 64em;
  margin: auto;
  padding: 2rem 0 2rem 0;
}

.to_from_inputs {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.search_button {
  width: max-content;
  border: none;
  outline: none;
  padding: 1rem 2rem 1rem 2rem;
  margin: auto;
  cursor: pointer;
  background-color: #fa303d;
  color: aliceblue;
  margin-top: 2rem;
  font-weight: 400;
  border-radius: 15px;
}

.bus_details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.bus_card {
  width: 100%;
  border: solid thin #ccc;
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.bus_card_tab {
  background-color: #ccc;
  padding: 2px 4px 2px 4px;
}

.bus_wrapper {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

.bus_info {
  display: flex;
  flex-direction: column;
}

.bus_seat_no {
  width: 5rem;
}

.bus_name {
  font-size: 18px;
  font-weight: 300;
}

.bus_smallText {
  font-size: 14px;
  margin-top: 1rem;
}

.bookButton {
  width: max-content;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin: auto;
  cursor: pointer;
  background-color: #fa303d;
  color: aliceblue;
  font-weight: 400;
}

.cancel_booking {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 14px;
  background-color: #e9e1e1;
  padding: 0.4rem;
}

.tab {
  margin: auto;
  width: max-content;
  padding: 1rem 1rem 1rem 1rem;
}

.tab_left {
  color: aliceblue;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 15px 0 0 15px;
  background-color: #fa303d;
  font-weight: 400;
  cursor: pointer;
}

.tab_left:hover {
  background-color: #d81623;
}

.tab_right:hover {
  background-color: #d81623;
}

.tab_right {
  color: aliceblue;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 0 15px 15px 0;
  background-color: #fa303d;
  font-weight: 400;
  cursor: pointer;
  border-left: solid thin #f55b65;
}

.chips {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.chip {
  padding: 0.2rem 0.5rem;
  background-color: #d81623;
  border-radius: 10px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  color: white;
}

.inputTextfield {
  height: 100%;
  width: 100%;
  outline: none;
  border: solid thin aliceblue;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
}

.inputTextfield:hover {
  border: solid thin rgb(60, 138, 8);
}

@keyframes header {
  from {
    margin-top: 5rem;
  }
  to {
    margin-top: 0rem;
  }
}

.heading {
  animation: header 1s;
}

.login_signup {
  margin-right: 2em;
  cursor: pointer;
}

.local_travel_button {
  background-color: #d81623;
  font-size: 20px;
  padding: 1rem;
  outline: none;
  border: none;
  margin: auto;
  color: aliceblue;
  margin-top: 1rem;
  cursor: pointer;
  width: max-content;
}

@media only screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0.5rem;
  }
  .to_from_inputs {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .bus_wrapper {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: space-around;
  }
  .login_signup {
    margin-right: 1em;
    cursor: pointer;
  }
}
