.travel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.places {
  display: flex;
  width: 20%;
  flex-direction: column;
}

.bus_info {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.data {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: 64em;
  height: 100%;
  justify-content: space-between;
}

.transportTypes {
  width: 48%;
}

@keyframes header {
  from {
    margin-top: 5rem;
  }
  to {
    margin-top: 0rem;
  }
}

.heading {
  font-size: 6rem;
  color: aliceblue;
  animation: header 1s;
  user-select: none;
}

.description {
  color: #fa303d;
  font-size: 25px;
  width: 100%;
  margin-top: 1rem;
  user-select: none;
}

@keyframes markerAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.marker_popup {
  padding: 10px 10px;
  z-index: 1000;
  width: max-content;
  background-color: purple;
  position: relative;
  color: white;
  margin-top: 0.3rem;
  width: 10rem;
  animation-name: markerAnim;
  animation-duration: 100ms;
  transition: ease;
}

.marker_info {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: center;
}

.comments_section {
  width: 100%;
  background-color: aliceblue;
  height: max-content;
  margin-top: 1rem;
}

.comments_section_heading {
  margin: 1rem;
  display: inline-block;
}

.comments_section_add {
  width: 100%;
  border-top: solid thin #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.comment_input {
  resize: none;
  width: 60%;
  padding: 0.2rem;
  margin: 0.4rem 0.4rem;
  font-size: 12px;
}

.comment_post_button {
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  padding: 1rem 3rem;
  height: max-content;
  background-color: #fa303d;
  cursor: pointer;
}

.comments {
  padding: 0 0.3rem 0.3rem 0.3rem;
  display: flex;
  flex-direction: column;
}

.comment_author {
  padding: 0.3rem 0.4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
}

.comment_author_info {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.comment_other {
  border-radius: 2px;
  max-width: 100%;
  width: max-content;
  background-color: #d3d3d3;
  padding: 0.3rem 0.4rem;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.comment_mine {
  border-radius: 2px;
  max-width: 100%;
  width: max-content;
  background-color: #d4f3d6;
  padding: 0.3rem 0.4rem;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.comment {
  margin-left: 3rem;
}

@media only screen and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
  .heading {
    font-size: 2rem;
    color: aliceblue;
    animation: header 1s;
    user-select: none;
    margin: 1rem 1.5rem 0 1.5rem;
  }
  .description {
    color: #fa303d;
    font-size: 16px;
    width: 100%;
    margin-top: 1rem;
    user-select: none;
  }
  .data {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
  .transportTypes {
    width: 100%;
  }
  .bus_info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .places {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .comment_author {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
  }
  .comment {
    margin-left: 3rem;
  }
}
