.travel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.places {
  display: flex;
  width: 20%;
  flex-direction: column;
}

.bus_info {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.data {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: 64em;
  height: 100%;
  justify-content: space-between;
}

.transportTypes {
  width: 48%;
}

@keyframes header {
  from {
    margin-top: 5rem;
  }
  to {
    margin-top: 0rem;
  }
}

.heading {
  font-size: 6rem;
  color: aliceblue;
  animation: header 1s;
  user-select: none;
}

.description {
  color: #fa303d;
  font-size: 25px;
  width: 100%;
  margin-top: 1rem;
  user-select: none;
}

@keyframes markerAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.marker_popup {
  padding: 10px 10px;
  z-index: 1000;
  width: max-content;
  background-color: purple;
  position: relative;
  color: white;
  margin-top: 0.3rem;
  width: 10rem;
  animation-name: markerAnim;
  animation-duration: 100ms;
  transition: ease;
}

.marker_info {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: center;
}
