.signupBox {
  width: 35%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin: auto;
  padding: 3rem;
  justify-content: space-between;
}

.registerButton {
  padding: 1rem 2rem 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
  width: max-content;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: #4fab49;
}

.oauthTab {
  width: 80%;
  margin: auto;
  justify-content: center;
  padding: 1rem;
  background-color: #ccc;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
